.contact_container {
  width: 90%;
  margin-inline: auto;
  padding-bottom: 10rem;
  max-width: 2000px;
}

.contact_header {
  text-align: center;

  .header_upper {
    h3 {
      font-size: 1.7rem;
    }
    .line {
      width: 50px;
      height: 4px;
      background: #ec9505;
      border-radius: 5px;
      margin-inline: auto;
    }
  }
}

.contact_main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5rem;
}

.left {
  width: 50%;
}

.contact_form {
  width: 60%;
  padding: 1rem;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);

  .form_element {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    h6 {
      font-size: 1.2rem;
      font-weight: 400;
    }

    input {
      border: none;
      outline: none;
      border-bottom: 2px solid #ec9505;
      padding: 0.5rem;
      font-size: 1.2rem;
    }
  }

  .primary_btn {
    text-align: center;
    padding: 0.6rem 1.2rem;
    background: #ec9505;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    transition: all 0.3s ease;
    margin-right: 2rem;
    margin-top: 1.2rem;

    &:hover {
      background: white;
      color: #ec9505;
      outline: 1px solid #ec9505;
    }
  }
}

.contact_details {
  margin-top: 2rem;
  div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    p {
      font-size: 1.3rem;
      margin-left: 1rem;
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  img {
    margin-right: 1.5rem;
  }
}

.address {
  margin-top: 2rem;
  display: flex;
  p {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}

// Media
@media (max-width: 768px) {
  .contact_main {
    flex-direction: column;

    .left {
      width: 100%;

      .contact_form {
        width: 95%;
      }
    }
  }

  .right {
    width: 95%;
    object-fit: cover;
  }

  .right img:nth-child(1) {
    display: none;
  }
}
