.gallery {
  width: 100%;
}

.gallery-container {
  width: 90%;
  margin-inline: auto;
  margin-top: 2rem;
  max-width: 2000px;
}

.gallery-grid {
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-span2 {
  grid-column: span 2;
}

.grid-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery_header {
  text-align: center;

  .header_upper {
    h3 {
      font-size: 1.7rem;
    }
    .line {
      width: 50px;
      height: 4px;
      background: #ec9505;
      border-radius: 5px;
      margin-inline: auto;
    }
  }
}

.video {
  margin-top: 2rem;
}

.vid {
  width: 100%;
  height: 800px;
}

@media (max-width: 768px) {
  .vid {
    height: 400px;
  }

  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-col-span2 {
    display: none;
  }
}
